/* 
$breakpoint argument choices:
- mini-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #126e82;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    animation: 1s ease-out 0s 1 normal none running moveInRight; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #126e82, #132c33);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(1deg);
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #126e82;
  color: #fff; }
  .btn--green::after {
    background-color: #126e82; }

.btn--grey {
  background-color: #706f6c;
  color: #fff; }
  .btn--grey::after {
    background-color: #706f6c; }

.btn--purple {
  background-color: #895ef7;
  color: #fff; }
  .btn--purple::after {
    background-color: #895ef7; }

.btn--blue {
  background-color: #76c1d6;
  color: #fff; }
  .btn--blue::after {
    background-color: #76c1d6; }

.btn--sky-blue {
  background-color: #569fc9;
  color: #fff; }
  .btn--sky-blue::after {
    background-color: #569fc9; }

.btn--spotify-grey {
  background-color: #303030;
  color: #fff; }
  .btn--spotify-grey::after {
    background-color: #303030; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #126e82;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #126e82;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #126e82;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  height: 29rem; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem;
      height: auto; } }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #51c4d3, #126e82);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 43rem; }
  .card__side {
    height: 43rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #b0acac, #706f6c); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #3f3e3e, #303030); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #a887fa, #895ef7); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #76c1d6, #4f95a8); }
      .card__side--back--5 {
        background-image: linear-gradient(to right bottom, #569fc9, #3d7391); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-color: #706f6c; }
      .card__picture--1 img {
        width: 100%; }
    .card__picture--2 {
      background-color: #181818;
      position: relative; }
      .card__picture--2 img {
        margin-top: 10px;
        width: 95%;
        border-radius: 1%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: #232423 0px 7px 20px 100px; }
    .card__picture--3 {
      background-image: url(../img/trackr.png);
      background-position: center; }
    .card__picture--4 {
      background-image: url(../img/social-media.png); }
    .card__picture--5 {
      background-image: url(../img/loyalT.jpeg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 65%; }
  .card__heading--3 {
    width: 80%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #b0acac, #706f6c); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #3f3e3e, #303030); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #a887fa, #4a27a3); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, #76c1d6, #4f95a8); }
    .card__heading-span--5 {
      background-image: linear-gradient(to right bottom, #569fc9, #3d7391); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__desc {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
    font-size: 2rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 110% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__desc {
        margin-bottom: 3rem; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s;
    height: 70%; }
    @media only screen and (max-width: 75em) {
      .popup__content {
        display: block;
        height: 85%; } }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        overflow: scroll; } }
  .popup__left {
    width: 65%;
    vertical-align: middle;
    height: 100%; }
    @media only screen and (max-width: 75em) {
      .popup__left {
        height: 60%;
        width: 100%; } }
  .popup__right {
    width: 35%;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 75em) {
      .popup__right {
        width: 100%; } }
    @media only screen and (max-width: 75em) {
      .popup__right {
        padding: 1rem 5rem; } }
  @media only screen and (max-width: 75em) and (hover: none) {
    .popup__right {
      padding: 3rem 5rem; } }
  .popup__video {
    display: block;
    width: 100%;
    height: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .popup__text {
        margin-bottom: 2rem; }
        .popup__text:not(:last-of-type) {
          margin-bottom: 0; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  .popup__close:hover {
    color: #126e82; }
  .popup .btn:not(:last-child) {
    margin-bottom: 1rem;
    margin-right: 1rem; }
  @media only screen and (max-width: 75em) {
    .popup .u-margin-bottom-small {
      margin-bottom: 0.5rem !important; } }
  @media only screen and (max-width: 75em) and (hover: none) {
    .popup .u-margin-bottom-small {
      margin-bottom: 1.5rem !important; } }

#notion-clone-popup h2 {
  background-image: linear-gradient(to right, #706f6c, #524f46);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem; }

#notion-clone-popup .popup__close:hover {
  color: #524f46; }

#spotify-popup h2 {
  background-image: linear-gradient(to right, #3f3e3e, #303030);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem; }

#spotify-popup .popup__close:hover {
  color: #303030; }

#trackr-popup h2 {
  background-image: linear-gradient(to right, #a887fa, #895ef7);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem; }

#trackr-popup .popup__close:hover {
  color: #895ef7; }

#social-clone-popup h2 {
  background-image: linear-gradient(to right, #76c1d6, #4f95a8);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem; }
  @media only screen and (max-width: 1299px) {
    #social-clone-popup h2 {
      font-size: 2.1rem; } }

#social-clone-popup .popup__close:hover {
  color: #4f95a8; }

#loyalt-popup h2 {
  background-image: linear-gradient(to right, #569fc9, #3d7391);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem; }

#loyalt-popup .popup__close:hover {
  color: #3d7391; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(81, 196, 211, 0.8), rgba(19, 44, 51, 0.8));
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(81, 196, 211, 0.8), rgba(19, 44, 51, 0.8)); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    font-family: "Bungee Shade", cursive;
    font-size: 6rem;
    color: #fff;
    line-height: 0.5;
    cursor: default; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #126e82;
  padding: 5rem 20rem 2rem 20rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 3rem 0; } }
  .footer__logo-box {
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    margin-bottom: 5rem;
    font-family: "Bungee Shade", cursive;
    font-size: 9rem;
    color: #fff;
    line-height: 0.5;
    cursor: default; }
  .footer__navigation {
    border-top: 1px solid #fff;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:visited, .footer__link:link {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: rgba(255, 255, 255, 0.4); }
  .footer__copyright {
    border-top: 1px solid #fff;
    padding-top: 2rem;
    text-align: center;
    color: #f7f7f7;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -25vh; }
  .section-about .heading-secondary {
    width: 60%; }
  .section-about .images {
    display: flex;
    align-items: center;
    justify-content: center; }
    .section-about .images img {
      width: 35%;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
      transition: .2s; }
      .section-about .images img:hover {
        transform: scale(1.1); }
    .section-about .images .django-logo {
      border-radius: 5px;
      margin-left: 25px; }
  @media only screen and (max-width: 1800px) {
    .section-about {
      margin-top: -20vh; }
      .section-about .heading-secondary {
        margin-top: 3rem; } }
  @media only screen and (max-width: 1130px) {
    .section-about {
      padding: 20rem 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-tech {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(81, 196, 211, 0.8), rgba(19, 44, 51, 0.8)), url(../img/city-roads.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-tech > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 1130px) {
    .section-tech {
      padding: 20rem 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-tech {
      padding: 10rem 0; } }

.section-projects {
  background-color: #f7f7f7;
  padding: 20rem 0 15rem 0;
  margin-top: -10rem; }
  @media only screen and (max-width: 1130px) {
    .section-projects {
      padding: 20rem 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-projects {
      padding: 20rem 0 10rem 0; } }
