// Colors 
$color-primary: #126e82;
$color-primary-light: #51c4d3;
$color-primary-dark: #132c33;

$color-secondary-light: #b0acac;
$color-secondary-dark: #706f6c;
$color-secondary-dark-2: #524f46;

$color-purple: #895ef7;
$color-purple-light: #a887fa;
$color-purple-dark: #4a27a3;

$spotify-dark-grey-light: rgb(63, 62, 62);
$spotify-dark-grey: rgb(48, 48, 48);

$color-tertiary: #95d8eb;
$color-tertiary-medium: #76c1d6;
$color-tertiary-dark: #4f95a8;

$color-sky-blue: #569fc9;
$color-sky-blue-dark: #3d7391;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;