.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 43rem;

    &__side {
        height: 43rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $spotify-dark-grey-light, $spotify-dark-grey);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-purple-light, $color-purple);
            }

            &-4 {
                background-image: linear-gradient(to right bottom, $color-tertiary-medium, $color-tertiary-dark);
            }

            &--5 {
                background-image: linear-gradient(to right bottom, $color-sky-blue, $color-sky-blue-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-color: $color-secondary-dark;
            img {
                width: 100%;
            }
        }

        &--2 {
            background-color: rgb(24, 24, 24);
            position: relative;

            img {
                margin-top: 10px;
                width: 95%;
                border-radius: 1%;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                box-shadow: rgb(35, 36, 35) 0px 7px 20px 100px;
            }
        }

        &--3 {
            background-image: url(../img/trackr.png);
            background-position: center;
        }

        &--4 {
            background-image: url(../img/social-media.png);
        }

        &--5 {
            background-image: url(../img/loyalT.jpeg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 65%;
    }

    &__heading--3 {
        width: 80%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            $color-secondary-light, 
            $color-secondary-dark);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgb(42, 209, 101), 
            rgb(24, 160, 72));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            $color-purple-light, 
            $color-purple-dark);
        }

        &--4 {
            background-image: linear-gradient(to right bottom, 
            $color-tertiary-medium,
            $color-tertiary-dark);
        }

        &--5 {
            background-image: linear-gradient(to right bottom, 
            $color-sky-blue,
            $color-sky-blue-dark);
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__desc {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
        font-size: 2rem;
    }

    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 110% 0, 100% 100%, 0% 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        // BACK SIDE STYLING
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__desc {
            margin-bottom: 3rem;
        }
    }
}